*{
    margin: 0px;
    padding: 0px;
}
.top{
    width: auto;
    height: auto;
    padding: calc(0%) calc(0%) calc(0%) calc(0%);
}
.header{
    background-color: #222222;
    display: flex;
    align-items: center;
    padding: calc(0%) calc(2%) calc(0%);
}
.logoandsearch{
    display: flex;
    align-items: center;
    padding-left: calc(15%);
}
.logoandsearch div{
    padding-left: 41px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(1%) calc(10%) calc(1%) calc(60%);
}
.menu div{
    padding-left: 33px;
}

.banner{
    display: flex;
    background-color: #F1E4E6;
}
.photo_men{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@font-face{
    font-family: "Lato", sans-serif;;
    src: local("Lato-Black.ttf"),
            url("/fonts/Lato-Black.ttf");
    font-weight: black;
}
.brend{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lien{
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
}
.text_brend{
    font-family: "Lato", sans-serif;;
    font-weight: black;
    font-size: 24px;
    padding-left: 16px;
}