*{
    margin: 0px;
    padding: 0px;
}
.body{
    width: auto;
    height: auto;
}
.top{
    width: auto;
    height: auto;
    /*margin: calc(0%) calc(0%) calc(0%) calc(0%);*/
}
.header{
    background-color: #222222;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*margin: calc(0%) calc(2%) calc(0%);*/
}
.logoandsearch{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: calc(10%);
}
.logoandsearch div{
    margin-left: 41px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: calc(1%) calc(10%) calc(1%) calc(60%);
}
.menu div{
    margin-left: 33px;
}

.banner{
    display: flex;
    flex-wrap: wrap;
    background-color: #F1E4E6;
    width: auto;
    height: auto;

}
.photo_men{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@font-face{
    font-family: "Lato", sans-serif;;
    src: local("Lato-Black.ttf"),
            url("/fonts/Lato-Black.ttf");
    font-weight: black;
}
.brend::before{
    content:"";
    display: flex;
    flex-wrap: wrap;
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    margin: 0 0 0 -16px;
}
.brend{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.text_brend{
    font-family: "Lato", sans-serif;;
    font-weight: black;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: baseline;
    margin-left: 14px;
}
.text_brend span{
    color: #F16D7F;
    
}
.offer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 65px;
    /*display: grid;
    grid-template-columns: 488px 488px 488px;
    grid-template-rows: auto auto;
    row-gap: 30px;
    column-gap: 30px;*/
}

.offer_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: calc(1.5%);
    margin-left: calc(1.5%);
}
#long{
    grid-column: span 3;
}
.offer_text{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 105px;
    font-family: "Lato", sans-serif;;
    font-weight: black;
}
.offer_text h1{
    color: #F16D7F;
}
.offer_text p{
    color: #FFFFFF;
    font-size: 16px;
}
#long p{
    margin-top: -40px !important;
}